In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\User\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading pandas-1.4.2-cp310-cp310-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 2.9 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     -------------------------------------- 503.5/503.5 KB 2.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.2 pytz-2022.1

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (3.5.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.22.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.1.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.33.3)

Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\User\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
pd.__version__

'1.4.2'

In [8]:
ser1 = pd.Series(data = [1,2,3,4,5],index = list("abcde"))
ser1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
a = ['s','d','f','k']

In [14]:
pd.Series(data=['uttam','vinay','kkk','love'],index=a)

s    uttam
d    vinay
f      kkk
k     love
dtype: object

In [24]:
ser2 = pd.Series(data = [11,22,33,44,55],index =list('abcde'))
ser2

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [30]:
df = pd.DataFrame({'A':ser1,'B':ser2})
df

   A   B
a  1  11
b  2  22
c  3  33
d  4  44
e  5  55

In [29]:
d = {'x': [1, 2, 3], 'y': np.array([2, 4, 8]), 'z': 100}

pd.DataFrame(d)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [31]:
df['C'] = ['Uttam','Vinay','Pradeep','Charu','Ajay']
df

   A   B        C
a  1  11    Uttam
b  2  22    Vinay
c  3  33  Pradeep
d  4  44    Charu
e  5  55     Ajay

In [4]:
pd.DataFrame(np.random.randint(1,10,size=(10,10)))

   0  1  2  3  4  5  6  7  8  9
0  3  6  1  2  3  5  2  9  8  5
1  6  2  9  2  3  8  3  8  6  2
2  6  2  3  8  3  4  9  6  8  5
3  5  9  5  2  9  6  3  8  9  2
4  3  9  6  3  3  1  6  5  1  5
5  8  3  4  8  4  3  5  2  9  4
6  4  7  4  3  9  7  7  6  9  9
7  4  2  4  1  6  7  4  6  5  9
8  8  4  6  7  4  9  3  6  8  3
9  1  3  7  5  2  4  1  5  4  9

In [30]:
df = pd.DataFrame(np.random.randint(1,10,size=(10,10)),index = list('ABCDEFGHIJ'),columns = list('abcdefghij'))
df

   a  b  c  d  e  f  g  h  i  j
A  2  5  3  8  6  4  3  3  4  8
B  4  8  5  9  7  1  5  9  8  4
C  7  2  2  7  6  7  9  1  2  2
D  4  1  3  2  6  6  1  7  3  9
E  9  3  3  1  7  1  7  4  3  7
F  7  1  8  4  1  2  2  5  7  6
G  9  1  6  4  9  2  9  4  2  9
H  4  1  6  2  7  3  3  8  3  5
I  6  8  2  7  4  8  2  1  3  5
J  8  9  7  4  2  9  5  9  4  5

In [33]:
df = pd.read_csv("Book1.csv")
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd5 in position 316: invalid continuation byte